#!/usr/bin/env bash

# ------------------------------------------------------------
# Azure SubscriptionID
# ------------------------------------------------------------

if ! command -v pass >/dev/null 2>&1; then
    echo "pass command not found. Please run 'make install-tools' for tooling setup."
    exit 1
else
    export ARM_SUBSCRIPTION_ID="${ARM_SUBSCRIPTION_ID:-$(pass azure/dev/subscription_id)}"
fi